// VARIABLES


// THEME 1

$dark-blue-main-bg: hsl(222, 26%, 31%);
$dark-blue-screen-bg: hsl(224, 36%, 15%);
$dark-blue-toggle-key-bg: hsl(223, 31%, 20%);
$white: hsl(0, 0%, 100%);

// -------keys------------

// main keys
$light-grayish-orange: hsl(30, 25%, 89%);
$grayish-orange-shadow: hsl(28, 16%, 65%);
$very-dark-grayish-blue: hsl(221, 14%, 31%);


// DEL and RESET
$desaturated-dark-blue: hsl(225, 21%, 49%);
$desaturated-dark-blue-shadow: hsl(224, 28%, 35%); 

// EQUALS key
$red-background-toggle: hsl(6, 63%, 50%);
$dark-red-shadow: hsl(6, 70%, 34%);



// THEME 2


$dark-moderate-cyan-key-background: hsl(185, 42%, 37%);
// - Very dark cyan (key shadow): hsl(185, 58%, 25%)

// - Orange (key background, toggle): hsl(25, 98%, 40%)
// - Dark orange (key shadow): hsl(25, 99%, 27%)

// - Light grayish yellow (key background): hsl(45, 7%, 89%)
// - Dark grayish orange (key shadow): hsl(35, 11%, 61%)